# environment
.venv/
venv/

# python
__pycache__/
*.pyc

# config
.env

# dataset & data
data/
dataset/

# model deep learning
*.h5
*.pth
weights/

# logs
logs/

# IDE
.vscode/
.vs/

# others
*.ipynb_checkpoints/